@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap");

img {
  width: 200px;
  height: 200px;
}

h1 {
  font-family: "Fira Sans", sans-serif; /*This is a CSS comment.*/
  font-size: 1rem;
  text-align: center;
  color: rgb(42, 47, 59);
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: rgb(42, 47, 59);
}

#special-paragraph {
  font-family: "Fira Sans";
  color: rgb(170, 96, 83);
  font-weight: 400;
  font-size: 2rem;
}

a {
  color: rgb(129, 0, 26);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
