@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
/*This is a CSS comment.*/
body {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 2rem;
}

img {
  width: 10rem;
  height: 10rem;
}

h1 {
  font-size: 1rem;
  color: rgb(42, 47, 59);
}

p {
  font-weight: 400;
  color: rgb(42, 47, 59);
}

a {
  color: rgb(129, 0, 26);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  font-size: 0.7rem;
  text-align: center;
}

.special-paragraph {
  color: rgb(170, 96, 83);
  font-weight: 700;
  font-size: 2rem;
}
