@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
/*This is a CSS comment.*/
body {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 2rem;
}

img {
  width: 10rem;
  height: 10rem;
}

h1 {
  font-size: 1rem;
  color: rgb(42, 47, 59);
}

h2 {
  font-size: 1.6rem;
  color: rgb(170, 96, 83);
  font-weight: 700;
}

p {
  font-weight: 400;
  color: rgb(42, 47, 59);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(129, 0, 26);
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-size: 0.7rem;
  display: flex;
}

footer p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.special-paragraph {
  color: rgb(170, 96, 83);
  font-weight: 700;
  font-size: 2rem;
}
