@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap");

body {
  background-color: #f0ecfc;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

header {
  margin-bottom: 60px;
  text-align: center;
}

h1 {
  font-size: 38px;
  color: #613bce;
  margin-top: 20px;
  margin-bottom: 30px;
}

header img {
  width: 250px;
}

article {
  color: #f0ecfc;
  background-color: #613bce;
  display: block;
  margin: auto;
  width: 700px;
  border-radius: 8px;
  padding: 40px 35px 20px 35px;
}

ul {
  list-style: none;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

li:hover {
  color: #e5ec3d;
  font-weight: bold;
  list-style-type: "\2B9E  ";
}

p a {
  color: #e5ec3d;
  text-decoration: none;
  font-weight: 800;
}

main p a:hover {
  color: #481fbb;
  background-color: #e5ec3d;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

button {
  width: 200px;
  display: block;
  margin: 20px auto auto auto;
  background-color: #ecb315;
  border-radius: 6px;
  border: #ecb315;
  padding: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #481fbb;
}

button:hover{
    box-shadow: 1px 1px rgb(119, 113, 113);
}

footer {
  font-size: 12px;
  display: block;
  margin: auto;
  width: 200px;
  color: #4a4458;
}

footer a {
  color: #4a4458;
}

footer a:hover {
  color: #613bce;
}
