@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap");

body {
  background-color: #f0ecfc;
  font-family: "Nunito", sans-serif;
}

header {
}

h1 {
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #613bce;
  margin-top: 20px;
  margin-bottom: 30px;
}

header img {
  width: 250px;
  display: block;
  margin: auto;
}

main {
  color: #f0ecfc;
  background-color: #613bce;
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 8px;
}

article{
    
}
