@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  position: absolute;
  width: 100%;
  box-sizing: border-box;

  padding: 5px;
  margin: 12px 28px;
}

h1 a {
  font-family: "Pacifico", serif;
  font-size: 48px;

  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(70, 70, 63);
  color: rgb(224, 218, 62);
}

header ul {
  display: flex;
  justify-content: space-between;

  padding: 0rem;
  margin-right: 28px;

  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 16px;

  color: rgb(255, 251, 0);
  text-shadow: 1px 1px 2px rgba(70, 70, 63, 0.2);
}

header ul li a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
  border-radius: 6px;
  text-shadow: 1px 1px 2px rgb(70, 70, 63);
}

#main-box {
  height: 800px;

  background-image: url("images/places/ocean.jpg");
  background-position: center;
  background-size: cover;

  box-sizing: border-box;

  color: white;
}

#main-box-content {
  width: 900px;

  background-color: rgba(50, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(67, 66, 66);
  border-radius: 8px;

  text-align: center;
  padding: 50px 0px;
  margin: 0 auto;

  position: relative;
  top: 300px;
}

#main-box h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
}

#main-box p {
  text-transform: uppercase;
  font-size: 18px;

  margin-bottom: 30px;
}

#main-box a {
  text-decoration: none;
  background-color: rgb(230, 226, 91);
  border-radius: 8px;

  padding: 12px 24px;
  color: black;
  font-size: 18px;
  font-weight: bold;

  box-shadow: 2px 4px 8px rgb(67, 66, 66);
}

#main-box a:hover {
  background-color: rgb(224, 218, 62);
}

#highlights {
}

#highlights h2 {
}

#highlights ul {
}

.destinations {
}

.destinations img {
  border: 1px 1px 1px;
  border-radius: 8px;
}
